.navbar-brand {
    border-radius: 5px;
    border: 2px solid #ccc!important;
    padding: 0.01em 8px;
    padding-top: 8px;
    padding-bottom: 8px;

  }
  div {
    font-family: Arial, Helvetica, sans-serif;
  }