{% extends 'base.html' %}
{% block title %}All Plants{% endblock %}

{% block body %}
<h1>All Plants</h1>
<div class="row">
  <div class="col-2">

    <div class="sidenav">
      <p><b>Filter & Search </b> </p>

      <form id="search-form">
      <p>
      <label for="keyword">Plant Name:</label><br>
      <input type="text" id="keyword" name="keyword" placeholder="[search term]" style="width: 124px;">
      </p>
    

      <p>Category<br>
        <select id="category" name="category">
          <option hidden disabled selected value></option>
          <option value="Do">Do</option>
          <option value="Not">Not</option>
          <option value="Use">Use</option>
          <option value="Yet">Yet</option>
        </select>
      </p>

      <p>Sub-Category<br>
        <select id="sub-category" name="sub-category">
          <option hidden disabled selected value></option>
          <option value="Do">Do</option>
          <option value="Not">Not</option>
          <option value="Use">Use</option>
          <option value="Yet">Yet</option>
        </select>
      </p>

      <p>Life Cycle:<br>
        <select id="life-cycle" name="life-cycle">
          <option hidden disabled selected value></option>
          <option value="Annual">Annual</option>
          <option value="Perennial">Perennial</option>
        </select>
      </p>

      <p>Sun:<br>
        <select id="sun" name="sun">
          <option hidden disabled selected value></option>
          <option value="Full">Full</option>
          <option value="Partial">Partial</option>
        </select>
      </p>

      <p>Fruit Color:<br>
        <select id="color" name="color">
          <option hidden disabled selected value></option>
          <option value="red">red</option>
          <option value="orange">orange</option>
          <option value="yellow">yellow</option>
          <option value="green">green</option>
          <option value="blue">blue</option>
          <option value="white">white</option>
          <option value="purple">purple</option>
          <option value="black">black</option>
        </select>
      </p>
    <input type="submit" value="Search">
    </form>
    </div>


  </div>
  <div class="col-10">

    <ul class="search-list">
      {% for plant in plants.items %}
        <li><p><table>
          <tr>
         <td class="col-xs-2"><center><img class="border" src="{{ plant.image_url }}" alt="{{ plant.name }}" width="100" height="100"></center></td>
          <td class="col-md-10"><a href="/plant/{{ plant.plant_id }}">{{ plant.name.replace(", ", " ") }}</a><br><small class="text-muted">{{ plant.short_descr[:250] }}...</small></td>
        </tr>
        </table>
      </p>
      </li>
      {% endfor %}
    </ul>
  <!-- Pagination Links-->
  <div class="text-right">
    <a href="{{ url_for('all_plants', page=plants.prev_num) }}"
       class="btn btn-outline-dark 
       {% if plants.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
  
  <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in plants.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  <!-- Check for the active page and set the link to "Active"-->
            {% if plants.page == page_num %}
            <a href="{{ url_for('all_plants', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('all_plants', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('all_plants', page=plants.next_num) }}"
       class="btn btn-outline-dark 
       {% if plants.page == plants.pages %}disabled{% endif %}">
        &raquo;
    </a>
  </div>
  <p class="text-right mt-3">
   Showing page {{ plants.page }} of {{ plants.pages }} (24 records per page)
  </p>
  </div>
</div>

{% endblock %}
