{% extends 'base.html' %}

{% block title %}{{ plant.plant_id }}{% endblock %}

{% block body %}

<h1>{{ plant.name }}</h1> 


{% if  current_favorite == True %}
<p>
    <button id="favorite-button" class="btn btn-danger btn-sm">Remove Plant From Favorites</button>
</p>
{% else %}
<p>
  <button id="favorite-button" class="btn btn-primary btn-sm">Favorite This Plant!</button>
</p>
{% endif %}


<div class="row">
  <div class="col-6"> <p><img src="{{ plant.image_url }}"> </p>  </div>
  <div class="col-6">  
  <h4>Short Description:</h4>
    {{ plant.short_descr }} 
  </div>
</div>
<h4>Attributes</h4>
<div class="row plant-attribute">
  <div class="col-sm-4"><h6>Botanical Name</h6> {{ plant.botanical_name }}</div>
  <div class="col-sm-4"><h6>Fruit Color</h6> {{ plant.fruit_color }}</div>
  <div class="col-sm-4"><h6>Breed</h6>{{ plant.breed }}</div>
</div>  
<div class="row plant-attribute">
  <div class="col-sm-4"><h6>Maturity</h6> {{ plant.maturity }}</div>
  <div class="col-sm-4"><h6>Sun</h6> {{ plant.sun }}</div>
  <div class="col-sm-4"><h6>Life Cycle</h6> {{ plant.life_cycle }}</div>
</div>
<div class="row plant-attribute">
  <div class="col-sm-4"><h6>Sow Method</h6> {{ plant.sow_method }}</div>
  <div class="col-sm-4"><h6>Fruit Color</h6> {{ plant.fruit_color }}</div> 
  <div class="col-sm-4"><h6>Fruit Weight</h6> {{ plant.fruit_weight_oz }}</div>
</div>  
<div class="row plant-attribute">
  <div class="col-sm-4"><h6>Days to Maturity</h6> {{ plant.days_to_maturity }}</div>
  <div class="col-sm-4"><h6>Row Spacing</h6> {{ plant.row_spacing_in }}</div>
  <div class="col-sm-4"><h6>Sow Depth</h6> {{ plant.sow_depth_in }}</div>
</div>
<h4>Planting Information</h4>
<div class="row plant-attribute">
  <div class="col-sm-4"><h6>Before Planting</h6> {{ plant.before_planting }}</div>
  <div class="col-sm-4"><h6>Planting</h6> {{ plant.planting }}</div>
  <div class="col-sm-4"><h6>Watering</h6> {{ plant.watering }}</div>
</div>
<div class="row plant-attribute">
  <div class="col-sm-4"><h6>Days to Maturity Descr.</h6> {{ plant.days_to_maturity_text }}</div>
  <div class="col-sm-4"><h6>Harvesting</h6> {{ plant.harvesting }}</div>
  <div class="col-sm-4"><h6>Tips</h6> {{ plant.tips }}</div>
</div>
<script src="/static/js/plant_details.js"></script>
<script src="/static/js/background-change.js"></script>

{% endblock %}
