{% extends 'base.html' %} {% block title %}Garden Schedule{% endblock %} {%
block head %}
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
<link
  rel="stylesheet"
  href="//fonts.googleapis.com/css?family=Google+Sans_old:400,500|Roboto:400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700&amp;display=swap"
/>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>


{% endblock %} {% block body %}
<h1 id="{{ gantt.user_gantt_id }}">{{ gantt.gantt_name }}  <button
  id="save changes"
  class="btn btn-outline-success"
  type="button">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
  </svg>
  Save Changes
  </button></h1>
<p><div data-gantt-id="{{ gantt.user_gantt_id }}" id="chart_div"></div></p>


<p>
  <button
    class="btn btn-outline-primary"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseContent"
    aria-expanded="false"
    aria-controls="collapseContent"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-toggle-on"
      viewBox="0 0 16 16"
    >
      <path
        d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
      />
    </svg>
    View Text-Based Schedule
  </button>
</p>
<div class="collapse" id="collapseContent">
  <div class="card card-body">
    <div id="wrapper">
      <ul id="list"></ul>
    </div>
  </div>
</div>


<!-------------- ADDING LINE ITEMS FOR GANTT ---------------->

<h2>Add Plants to Schedule</h2>

<div>
  <label for="plant-names">Plants</label>
  <select name="plant_name" class="form-control" id="plant-names">
    {% for plant in plant_favs %}
    <option value="{{ plant.plant.name }}">{{ plant.plant.name }}</option>
    {% endfor %}
  </select>
</div>

<div>
  <label for="start-date">Start Date</label>
  <input
    type="date"
    class="form-control"
    name="plant-start"
    id="start-date"
    value="2022-02-15"
    required
  />
  <label for="end-date">Harvest Date</label>
  <input
    type="date"
    class="form-control"
    name="plant-end"
    id="end-date"
    value="2022-05-31"
    required
  />
</div>
<p>
  <input
    onclick="addItem()"
    type="submit"
    class="btn btn-primary mt-2"
    value="Add Plant"
  />
</p>




{% if is_new == True %}

<p>
  <button onclick="geekConfirm()" class="btn btn-secondary mt-2">
    Create New Schedule
  </button>
</p>

{% endif %}

<!-- <h3>Confirm Box</h3>
<button onclick="geekConfirm()" class="btn btn-primary mt-2">
  Click here for Confirm box
</button>
<p id="geek"></p> -->

<script src="/static/js/add_gantt_items.js"></script>

{% endblock %}
