{% extends 'base.html' %} {% block title %}Garden Schedule{% endblock %} {%
block head %}
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
<link
  rel="stylesheet"
  href="//fonts.googleapis.com/css?family=Google+Sans_old:400,500|Roboto:400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700&amp;display=swap"
/>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

{% endblock %} {% block body %}






<h1 id="name-field">New Garden Schedule</h1>


<p>
  <button onclick="nameYourSchedule()" class="btn btn-secondary mt-2">
    Name your schedule!
  </button>

  <button onclick="createNewSchedule()" class="btn btn-secondary mt-2">
    Create Schedule
  </button>
</p>



<!-------------- ADDING LINE ITEMS FOR GANTT ---------------->

<h2>Add Plants to Schedule</h2>

<div class="gantt-add-form">
  <label for="plant-names">Plants</label>
  <select name="plant_name" class="form-control" id="plant-names">
    {% for plant in plant_favs %}
    <option value="{{ plant.plant.name }}">{{ plant.plant.name }}</option>
    {% endfor %}
  </select>

  <label for="start-date">Start Date</label>
  <input
    type="date"
    class="form-control"
    name="plant-start"
    id="start-date"
    value="2022-02-15"
    required
  />
  <label for="end-date">Harvest Date</label>
  <input
    type="date"
    class="form-control"
    name="plant-end"
    id="end-date"
    value="2022-05-31"
    required
  />
<p>
  <input
    onclick="addItem()"
    type="submit"
    class="btn btn-primary mt-2"
    value="Add Plant"
  />
</p>

</div>




<p><div id="chart_div" class="card gantt-placeholder"></div></p>


<p>
  <button
    class="btn btn-primary"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseContent"
    aria-expanded="false"
    aria-controls="collapseContent"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-toggle-on"
      viewBox="0 0 16 16"
    >
      <path
        d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
      />
    </svg>
    View Text-Based Schedule
  </button>
</p>
<div class="collapse" id="collapseContent">
  <div class="card card-body">
    <div id="wrapper">
      <ul id="list"></ul>
    </div>
  </div>
</div>




<script src="/static/js/add_gantt_items_new.js"></script>
<script src="/static/js/background-change.js"></script>


{% endblock %}
