{% extends 'base.html' %} {% block title %}Garden Schedule{% endblock %} {%
block head %}
<title>W3.CSS</title>
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin="" />
<link
  rel="stylesheet"
  href="//fonts.googleapis.com/css?family=Google+Sans_old:400,500|Roboto:400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700&amp;display=swap"
/>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>


{% endblock %} {% block body %}
<h1>Sample Gantt</h1>
<div id="chart_div"></div>

<!-------------- ADDING LINE ITEMS FOR GANTT ---------------->

<h2>Add Plants to Schedule</h2>

<div id="wrapper">
  <ul id="list"></ul>
</div>

<div>
  <label for="plant-names">Plants</label>
  <select name="plant_name" class="form-control" id="plant-names">
    <option value="Asparagus">Asparagus</option>
    <option value="Broccoli">Broccoli</option>
    <option value="Garlic">Garlic</option>
    <option value="Mushroom">Mushroom</option>
  </select>
</div>

<div>
  <label for="start-date">Start Date</label>
  <input
    type="date"
    class="form-control"
    name="plant-start"
    id="start-date"
    value="2022-02-15"
    required
  />
  <label for="end-date">Harvest Date</label>
  <input
    type="date"
    class="form-control"
    name="plant-end"
    id="end-date"
    value="2022-05-31"
    required
  />
</div>

<input
  onclick="addItem()"
  type="submit"
  class="btn btn-primary mt-2"
  value="Add Plant"
/>

 
{% if is_new == True %}

<p><button onclick="geekConfirm()" class="btn btn-secondary mt-2">
  Create New Schedule
</button>
</p>

{% endif %}

<!-- <h3>Confirm Box</h3>
<button onclick="geekConfirm()" class="btn btn-primary mt-2">
  Click here for Confirm box
</button>
<p id="geek"></p> -->




<script src="/static/js/add_gantt_items.js"></script>

{% endblock %}
