{% extends 'base.html' %} {% block title %}{{ user.email }}'s Page{% endblock %}
{% block body %} {% if session.get('user_email') %}
<div>
  <h1 class="display-4">Welcome, {{ session['user_email'] }} !</h1>
  {% endif %}
  <hr class="rounded" />

  <div class="row">
    <div class="col-6">
      <h5>Plant Favorites</h5>
      <ul class="search-list">
        {% for plant_fav in plant_favs.items %}
        <li class="my-favs-list">
          <div class="card mb-3" style="max-width: 350px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="{{ plant_fav.plant.image_url }}"
                  class="img-fluid rounded-start"
                  alt="{{ plant_fav.plant.name }}"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/plant/{{ plant_fav.plant.plant_id }}"
                      >{{ plant_fav.plant.name.replace(", ", " ") }}</a
                    >
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </li>

        {% endfor %}
      </ul>
      <!-- Pagination Links-->
      <div class="text-left page-links">
        <a
          href="{{ url_for('show_user', page=plant_favs.prev_num) }}"
          class="btn btn-sm btn-outline-dark {% if plant_favs.page == 1 %}disabled{% endif %}"
        >
          &laquo;
        </a>

        <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in plant_favs.iter_pages(left_edge=1, right_edge=1,
        left_current=1, right_current=2) %} {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
        {% if plant_favs.page == page_num %}
        <a
          href="{{ url_for('show_user', page=page_num) }}"
          class="btn btn-sm btn-dark"
        >
          {{ page_num }}
        </a>
        {% else %}
        <a
          href="{{ url_for('show_user', page=page_num) }}"
          class="btn btn-sm btn-outline-dark"
        >
          {{ page_num }}
        </a>
        {% endif %} {% else %} ... {% endif %} {% endfor %}
        <a
          href="{{ url_for('show_user', page=plant_favs.next_num) }}"
          class="btn btn-sm btn-outline-dark {% if plant_favs.page == plant_favs.pages %}disabled{% endif %}"
        >
          &raquo;
        </a>
        <p></p>
      </div>
    </div>

    <div class="col-6">
      <h5>Saved Garden Schedules</h5>
      <br />
      {% for gantt in gantts %}
      <p>
        <a
          class="btn btn-success"
          href="/user_gantt/{{gantt.user_gantt_id}}"
          role="button"
          >{{ gantt.gantt_name }} &raquo;
        </a>
      </p>
      {% endfor %}
    </div>
  </div>
</div>
<script src="/static/js/background-change.js"></script>

{% endblock %}
